<h1>Services</h1>
<p>
<%if session[:user].nil?%>
You need to be logged in to post an event. <%=link_to("Log in", authenticate_login_path)%>
<%else%>
<%=link_to("Create new service/exchange", new_service_path)%>
<%end%>
<br>
</p>
<table class="gridtable">
<tr><th>Category</th></tr>
<%for i in @category%>
<tr><td><%=button_to(i.title, services_display_path(:category => i.title))%></td></tr>
<%end%>
</table><br>
<%=image_tag("leo.jpeg")%>
