<h1>Welcome to Orghub</h1>
<iframe width="160" height="160" src="https://www.youtube.com/embed/NoDRROeGo-8" frameborder="0" allowfullscreen></iframe>
<iframe width="160" height="160" src="https://www.youtube.com/embed/0bXB5zyF3TI" frameborder="0" allowfullscreen></iframe>
<iframe width="160" height="160" src="https://www.youtube.com/embed/on2ufpuKy2o" frameborder="0" allowfullscreen></iframe>
<iframe width="160" height="160" src="https://www.youtube.com/embed/rDJu7r6OUvk" frameborder="0" allowfullscreen></iframe>
<iframe width="160" height="160" src="https://www.youtube.com/embed/eu1AHz4MV2g" frameborder="0" allowfullscreen></iframe>
<%=image_tag("flocka.gif")%>
<strong>DESTROY ALL THOTS</strong>
<%=image_tag("thot.gif")%>
<%=image_tag("rotatingthot.gif")%>
<%=image_tag("cripwalk.gif", size:"350x350")%>
