<h1>Welcome 2 Orghub, pleb</h1>
<%=image_tag("npcomplete.png", size:"350x350")%>
<%=image_tag("manofculture.png", size:"350x350")%>
<%=image_tag("int.png", size:"350x350")%>
<%=image_tag("algos.jpeg", size:"550x350")%>
