<h1>Who going boi</h1>
<table class="gridtable">
<tr><th><%=@event.title%></th></tr>
<%for i in @list%>
<tr><td><%=i.fname%> <%=i.lname%></td></tr>
<%end%>
</table>
<%=image_tag("lisp.jpg", size:"500x500")%>
